<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RECIPE</title>
    <!--[if lt IE 9]>
    <script src="/static/vendor/html5shiv/dist/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="/static/vendor/respond/dest/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- css -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/styles/reset.css">
    <link rel="stylesheet" href="../../../static/styles/user.css">

    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../../../static/js/script.js"></script>
</head>
<body>
    <div class="inner">
        <h1 class="tit">로그인</h1>
        <div class="container--login login">
            <div class="login__form">
                <form action="">
                    <div class="input-group">
                        <label for="">이메일</label>
                        <input type="text" placeholder="이메일">
                    </div>
                    <div class="input-group">
                        <label for="">비밀번호</label>
                        <input type="text" placeholder="비밀번호">
                    </div>
                    <div class="text-center mt2">
                        <button type="button" class="btn--point btn--large">로그인</button>
                    </div>
                </form>
            </div>
            <div class="login__link">
                <a href="#n">비밀번호 찾기</a>
                <a href="#n">회원가입</a>
            </div>
        </div>
    </div>
</body>
</html>