.mauto { margin: 0 auto; }

.text-center { text-align: center; }

// ===================

body {
    position: relative;
    height: 100vh;
}

.inner {
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.tit {
    margin-bottom: 6.25rem; // 100px
    padding : 3.125rem 0; // 50px
    border-bottom: .0625rem solid #dddddd;
    font-size: 2rem;
    font-family: $fw700;
}