<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>RECIPE</title>
    <th:block th:replace="layouts/head :: head"></th:block>
    <!-- user/email -->
    <link rel="stylesheet" href="../../../static/styles/user.css">
</head>
<body>
    <th:block th:replace="layouts/header :: headerFragment"></th:block>
    
    <!-- s::email -->
    <div class="inner">
        <h1 class="tit">비밀번호 찾기</h1>
        <div class="container__user">
            <form action="">
                <div class="input-group mb2">
                    <label for="" class="hide">이메일</label>
                    <input type="text" placeholder="이메일">
                    <span class="none">타이머</span><span id="timer" class="timer"></span>
                </div>
                <button type="button" id="sendEmail" class="btn btn--point btn--large mauto">인증메일 보내기</button>
            </form>
        </div>
    </div>
    <!-- e::email -->

    <th:block th:replace="layouts/footer :: footerFragment"></th:block>
</body>
</html>