<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RECIPE</title>
    <!--[if lt IE 9]>
    <script src="/static/vendor/html5shiv/dist/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="/static/vendor/respond/dest/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- css -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/styles/reset.css">
    <link rel="stylesheet" href="../../../static/styles/user.css">

    <!-- js -->
    <script src="../../../static/js/script.js"></script>
</head>
<body>
    <div class="inner">
        <h1 class="tit">회원가입</h1>
        <div class="container--signup">
            <form action="">
                <div class="input-group">
                    <label for="">이메일</label>
                    <input type="text">
                    <span class="mr1 ml1">@</span>
                    <select name="" id="">
                        <option value="">hanmail.net</option>
                        <option value="">naver.com</option>
                        <option value="">gmail.com</option>
                    </select>
                </div>
                <div class="flex">
                    <div class="input-group mr2">
                        <label for="">비밀번호</label>
                        <input type="text">
                    </div>
                    <div class="input-group">
                        <label for="">비밀번호 확인</label>
                        <input type="text">
                    </div>
                </div>
                <div class="input-group">
                    <label for="">닉네임</label>
                    <input type="text">
                    <button class="ml1">중복확인</button>
                </div>
                <div class="term">
                    <h3 class="term__tit">약관동의</h3>
                    <div class="term__box"></div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn--point btn--large">회원가입</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>