<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>RECIPE</title>
    <th:block th:replace="layouts/head :: head"></th:block>
    <!-- user/signUp -->
    <link rel="stylesheet" href="../../../static/styles/user.css">
</head>
<body>
    <th:block th:replace="layouts/header :: headerFragment"></th:block>
    
    <!-- s::signUp -->
    <div class="inner">
        <h1 class="tit">회원가입</h1>
        <div class="container__user">
            <form action="">
                <div class="input-group">
                    <label for="">이메일</label>
                    <div class="flex">
                        <input type="text">
                        <span class="mr1 ml1">@</span>
                        <select name="" id="">
                            <option value="">hanmail.net</option>
                            <option value="">naver.com</option>
                            <option value="">gmail.com</option>
                        </select>
                    </div>
                </div>
                <div class="input-group">
                    <label for="">비밀번호</label>
                    <input type="text">
                </div>
                <div class="input-group">
                    <label for="">비밀번호 확인</label>
                    <input type="text">
                </div>
                <div class="input-group">
                    <label for="">닉네임</label>
                    <!-- todo:: input - (버튼크기 +  ml) 계산해서 100%로 만들기-->
                    <div class="flex">
                        <input type="text" class="w7">
                        <button type="button" class="btn ml1">중복확인</button>
                    </div>
                </div>
                <div class="term">
                    <h3 class="term__tit">약관동의</h3>
                    <!-- todo:: 약관동의 내용 채우기-->
                    <div class="term__box"></div>
                    <div>
                        <label >
                            <input type="radio" name="agree" id="agree" value="Y">
                            약관 전체에 동의합니다
                        </label>
                    </div>
                </div>
                <button type="button" class="btn btn--point btn--large mauto">회원가입</button>
            </form>
        </div>
    </div>
    <!-- e::signUp -->

    <th:block th:replace="layouts/footer :: footerFragment"></th:block>
</body>
</html>