<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>RECIPE</title>
    <!--[if lt IE 9]>
    <script src="/static/vendor/html5shiv/dist/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="/static/vendor/respond/dest/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- css -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../../static/styles/reset.css">
    <link rel="stylesheet" href="../../../static/styles/main.css">

    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../../../static/js/script.js"></script>
</head>
<body>
    <div th:replace="~{thymeleaf/layouts/header :: header}"></div>

    <!-- s:: main-->
    <div class="container">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../../../static/image/main/main-banner1.png" alt="main-banner1"></div>
                <div class="swiper-slide"><img src="../../../static/image/main/main-banner2.png" alt="main-banner2"></div>
                <div class="swiper-slide"><img src="../../../static/image/main/main-banner3.png" alt="main-banner3"></div>
            </div>
        </div>
    </div>
    <!-- e:: main -->

    <!-- s:: footer -->
    <footer id="footer" class="footer">
        <div class="inner"></div>
    </footer>
    <!-- e:: footer -->

    <script>
        const swiper = new Swiper('.swiper', {
            loop: true,
            autoplay: { delay: 2000 },
            speed: 500
        });
    </script>
</body>
</html>