<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>RECIPE</title>
    <th:block th:replace="layouts/head :: head"></th:block>
    <!-- main -->
    <link rel="stylesheet" href="../../../static/styles/main.css">
</head>
<body>
    <th:block th:replace="layouts/header :: headerFragment"></th:block>

    <!-- s:: main-->
    <div class="container">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../../../static/image/main/main-banner1.png" alt="main-banner1"></div>
                <div class="swiper-slide"><img src="../../../static/image/main/main-banner2.png" alt="main-banner2"></div>
                <div class="swiper-slide"><img src="../../../static/image/main/main-banner3.png" alt="main-banner3"></div>
            </div>
        </div>
    </div>
    <!-- e:: main -->

    <th:block th:replace="layouts/footer :: footerFragment"></th:block>
</body>
</html>