.none { display: none; }
.block { display: block; }

.flex {
    display: flex;
    align-items: center;
}

.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }