select {
    width: 100%;
    height: 2.5rem; // 32px
    padding: 0 .9375rem; // 15px
    border: .0625rem solid $color-input;
    border-radius: .1875rem; // 3px
}

.input-group {
    select {
        width: 12.5rem; // 200px
    }
}