.label {display: none;}

input {
    &[type="text"], &[type="password"], &[type="file"] {
        width: 100%;
        height: 2.5rem; // 32px
        padding: 0 .9375rem; // 15px
        border: .0625rem solid $color-input;
        border-radius: .1875rem; // 3px
    }
}

textarea {
    padding: 0 .9375rem; // 15px
    border: .0625rem solid $color-input;
    border-radius: .1875rem; // 3px
}

.input-group {
    // display: flex;
    // align-items: center;
    width: 100%;
    margin-bottom: 1.875rem; // 30px
    label {
        display: block;
        font-family: $fw700;
    }
    input {
        &[type="text"], &[type="password"] {
            // width: 12.5rem; // 200px
        }
    }
}

.search-form {
    position: relative;
    input {
        width: 30rem; // 480px
        padding: 0 2.5rem 0 .9375rem; // 40px 15px
    }
    button {
        position: absolute;
        top: .5625rem; // 9px
        right: .3125rem; // 5px
        color: $color-input;
    }
}

// radio
.radio {
    position: relative;
    &__label {
        margin-right: 10px;
        font-family: $fw400 !important;
        vertical-align: middle;
    }
    input {
        &[type="radio"] { 
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
            &+label {
                position: relative;
                padding-left: 25px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                &::before {
                    content: '';
                    position: absolute;
                    left: 4px;
                    top: 0px;
                    width: 14px;
                    height: 14px;
                    text-align: center;
                    background: #fff;
                    border: 1px solid #cacece;
                    border-radius: 100%;
                    box-shadow: none;
                }
            }

            &:checked {
                &+label {
                    &::before {
                        background: #fff;
                        border-color: #e86138;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 1px;
                        left: 5px;
                        width: 14px;
                        height: 14px;
                        background: #e86138;
                        border-radius: 100%;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}