.label {display: none;}

input {
    width: 100%;
    height: 2.5rem; // 32px
    padding: 0 .9375rem; // 15px
    border: .0625rem solid $color-input;
    border-radius: .1875rem; // 3px
}

.input-group {
    display: inline-block;
    width: 100%;
    margin-bottom: .9375rem; // 15px
    label {
        display: inline-block;
        margin-right: .625rem; // 10px
        font-family: $fw700;
    }
    input {
        width: 12.5rem; // 200px
    }
}

.search-form {
    position: relative;
    input {
        width: 30rem; // 480px
        padding: 0 2.5rem 0 .9375rem; // 40px 15px
    }
    button {
        position: absolute;
        top: .3125rem; // 5px
        right: .3125rem; // 5px
        color: $color-input;
    }
}