@import "../common.scss";

.container {
    // 레시피
    &--recipe {
        .recipe {
            &-category {
                &__select {
                    position: relative;
                    display: inline-block;
                    margin-right: .625rem; // 10px
                }
                .btn {
                    &--plus { padding: .5rem; } // 8px
                    
                }
            }

            &-result {
                display: flex;
                flex-flow: wrap;
                &__box {
                    width: calc((100% - 61px) / 4);
                    margin-top: 3.125rem; // 50px
                    margin-right: 1.25rem; // 20px
                    &:nth-child(4n) { margin-right: 0; }
                    img {
                        width: 100%;
                    }
                    .menuname {
                        display: flex;
                        align-items: center;
                        margin-top: .625rem; // 10px
                        .like {
                            margin-left: .625rem; // 10px
                            color: #ff9494;
                            .material-symbols-outlined {
                                font-size: 1.25rem; // 20px
                            }
                            display: flex;
                            align-items: center;
                            &__num {
                                font-size: .875rem; // 14px
                            }
                        }
                    }
                    .nickname {
                        margin-top: 5px; // 5px
                        color: #cccccc;
                    }
                }
            }
        }
    }
}