@import "../common.scss";

.container {
    &__recipe {
        .recipe {
            // 레시피
            &-category {
                h3 {
                    margin-right: .9375rem; // 15px
                    font-size: 1.125rem; // 18px
                    font-family: $fw700;
                }
                &__select {
                    position: relative;
                    display: inline-block;
                    margin-right: .625rem; // 10px
                }
                .btn {
                    &--plus { padding: .5rem; } // 8px
                    
                }
            }
        }
    }
}