@import "../common.scss";

.container {
    // 후기
    &__review {
        display: flex;
        flex-flow: wrap;
        .review {
            // 목록
            &__box {
                width: calc((100% - 41px) / 3);
                margin-top: 3.125rem; // 50px
                margin-right: 1.25rem; // 20px
                padding: 1.875rem; // 30px
                border: .0625rem solid $color-input;
                &:nth-child(3n) { margin-right: 0; }
                img { width: 100%; }
                &__nickname {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: .3125rem; // 5px
                    .material-symbols-outlined {
                        color: #ffe600;
                        letter-spacing: -0.3125rem; // -5px
                    }
                }
                &__txt {
                    color: #cccccc;
                    font-size: .875rem; // 14px
                    font-family: $fw300;
                }
                &__tit {
                    margin-top: .9375rem; // 15px
                    font-size: 1.25rem; // 20px
                    font-family: $fw700;
                }
            }

            // 글쓰기
            &__write {
                img { width: 100%; }
                > div {
                    width: 50%;
                }
                .review {
                    &__left {}
                    &__right {}
                }
            }
        }
    }
}

// 댓글
.comment {
    margin-top: 1.25rem; // 20px
    &__area { 
        // display: none;
        margin-top: .9375rem; // 15px
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 { margin-right: .9375rem; } // 15px
    }
}