@import "../common.scss";

.container {
    &__user {
        width: 25rem; // 400px
        margin: 0 auto;
        label { margin-bottom: .625rem; } // 10px
        
        // 회원가입 - 약관동의
        .term {
            margin: 3.125rem 0; // 50px
            &__tit {
                margin-bottom: .9375rem; // 15px
                font-size: 1.75rem; // 28px
                font-family: $fw700;
            }
            &__box {
                margin-bottom: .9375rem; // 15px
                padding: 1.875rem; // 30px
                border: .0625rem solid #cccccc;
            }
        }

        // login
        .login {
            &__link {
                display: flex;
                justify-content: space-between;
                margin-top: 1.875rem; // 30px
                padding-top: 1.875rem; // 30px
                border-top: .0625rem solid #cccccc;
                color: #bbbbbb;
                font-size: .875rem; // 14px
                font-family: $fw300;
            }
        }

        // 비밀번호 찾기
        .timer {
            margin-top: .3125rem; // 5px
            color: #ff7878;
            font-size: .875rem; // 14px
            font-family: $fw300;
        }
    }
}