<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
  	<!-- s:: header -->
    <header id="header" th:fragment="header">
        <div class="header">
            <div class="inner">
                <div class="logo">RECIPE</div>
                <search class="search-form">
                    <form action="./search/">
                        <label class="label" for="search">Find a Recipe</label>
                        <input type="search" id="search" name="search" />
                        <button type="submit"><span class="material-symbols-outlined">search</span></button>
                    </form>
                </search>
                <nav class="util">
                    <div class="login"><a href="#n">로그인</a></div>
                    <div class="signup"><a href="#n">회원가입</a></div>
                </nav>
            </div>
        </div>
        <div class="gnb">
            <ul class="inner">
                <li class="gnb__item"><a href="#n">레시피</a></li>
                <li class="gnb__item"><a href="#n">추천</a></li>
                <li class="gnb__item"><a href="#n">커뮤니티</a></li>
                <li class="gnb__item"><a href="#n">마이페이지</a></li>
            </ul>
        </div>
    </header>
    <!-- e:: header -->
</th:block>
</html>