<!-- 후기 / 등록 페이지 << 보고 지워요 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>RECIPE</title>
    <th:block th:replace="layouts/head :: head"></th:block>
    <!-- review/write -->
    <link rel="stylesheet" href="../../../static/styles/review.css">
</head>
<body>
    <th:block th:replace="layouts/header :: headerFragment"></th:block>
    
    <!-- s::write -->
    <div class="inner">
        <h1 class="tit">후기</h1>
        <div class="container__review">
            <form action="" class="w10">
                <div class="review__write flex">
                    <div class="review__left">
                        <img src="../../../static/image/recipe/갓잇.jpg" alt="갓잇">
                        <h2>갓잇</h2>
                        <h3>user</h3>
                        <p>카테고리</p>
                    </div>
                    <div class="review__right">
                        <div class="input-group">
                            <label for="">제목</label>
                            <input type="text">
                        </div>
                        <div class="input-group">
                            <label for="">설명</label>
                            <textarea name="" id="" rows="10"></textarea>
                        </div>
                        <div class="input-group">
                            <label for="">첨부파일</label>
                            <input type="file">
                        </div>
                    </div>
                </div>
                <div class="flex justify-between">
                    <a href="../review/review.html" class="btn">목록</a>
                    <button type="button" class="btn btn--point">등록</button>
                </div>
            </form>
        </div>
    </div>
    <!-- e::wrtie -->

    <th:block th:replace="layouts/footer :: footerFragment"></th:block>
</body>
</html>