<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>RECIPE</title>
    <th:block th:replace="layouts/head :: head"></th:block>
    <!-- recommend - img.scss -->
    <link rel="stylesheet" href="../../../static/common.css">
</head>
<body>
    <th:block th:replace="layouts/header :: headerFragment"></th:block>
    
    <!-- s::recommend -->
    <div class="inner">
        <h1 class="tit">추천</h1>
        <div class="container__recommend">
            <div class="img">
                <div class="img__box">
                    <img src="../../../static/image/recipe/한옥정.jpg" alt="한옥정">
                    <div class="menuname">
                        <h3>한옥정</h3>
                        <p class="like">
                            <span class="material-symbols-outlined">favorite</span>
                            <span class="like__num">50</span>
                        </p>
                    </div>
                    <p class="nickname">mowinjji</p>
                </div>
                <div class="img__box">
                    <img src="../../../static/image/recipe/갓잇.jpg" alt="갓잇">
                    <div class="menuname">
                        <h3>갓잇</h3>
                        <p class="like">
                            <span class="material-symbols-outlined">favorite</span>
                            <span class="like__num">8</span>
                        </p>
                    </div>
                    <p class="nickname">mowinjji</p>
                </div>
                <div class="img__box">
                    <img src="../../../static/image/recipe/고베규카츠.jpg" alt="고베규카츠">
                    <div class="menuname">
                        <h3>고베규카츠</h3>
                        <p class="like">
                            <span class="material-symbols-outlined">favorite</span>
                            <span class="like__num">88</span>
                        </p>
                    </div>
                    <p class="nickname">mowinjji</p>
                </div>
                <div class="img__box">
                    <img src="../../../static/image/recipe/윤밀원.jpg" alt="윤밀원">
                    <div class="menuname">
                        <h3>윤밀원</h3>
                        <p class="like">
                            <span class="material-symbols-outlined">favorite</span>
                            <span class="like__num">129</span>
                        </p>
                    </div>
                    <p class="nickname">mowinjji</p>
                </div>
                <div class="img__box">
                    <img src="../../../static/image/recipe/이가네양꼬치.jpg" alt="이가네양꼬치">
                    <div class="menuname">
                        <h3>이가네양꼬치</h3>
                        <p class="like">
                            <span class="material-symbols-outlined">favorite</span>
                            <span class="like__num">33</span>
                        </p>
                    </div>
                    <p class="nickname">mowinjji</p>
                </div>
                <div class="img__box">
                    <img src="../../../static/image/recipe/대림국수.jpg" alt="대림국수">
                    <div class="menuname">
                        <h3>대림국수</h3>
                        <p class="like">
                            <span class="material-symbols-outlined">favorite</span>
                            <span class="like__num">21</span>
                        </p>
                    </div>
                    <p class="nickname">mowinjji</p>
                </div>
                <div class="img__box">
                    <img src="../../../static/image/recipe/대흥양다리바베큐.jpg" alt="대흥양다리바베큐">
                    <div class="menuname">
                        <h3>대흥양다리바베큐</h3>
                        <p class="like">
                            <span class="material-symbols-outlined">favorite</span>
                            <span class="like__num">98</span>
                        </p>
                    </div>
                    <p class="nickname">mowinjji</p>
                </div>
                <div class="img__box">
                    <img src="../../../static/image/recipe/정통집.jpg" alt="정통집">
                    <div class="menuname">
                        <h3>정통집</h3>
                        <p class="like">
                            <span class="material-symbols-outlined">favorite</span>
                            <span class="like__num">46</span>
                        </p>
                    </div>
                    <p class="nickname">mowinjji</p>
                </div>
                <div class="img__box">
                    <img src="../../../static/image/recipe/통돼지두루치기.jpg" alt="통돼지두루치기">
                    <div class="menuname">
                        <h3>통돼지두루치기</h3>
                        <p class="like">
                            <span class="material-symbols-outlined">favorite</span>
                            <span class="like__num">2</span>
                        </p>
                    </div>
                    <p class="nickname">mowinjji</p>
                </div>
                <div class="img__box">
                    <img src="../../../static/image/recipe/호랑이흥취.jpg" alt="호랑이흥취">
                    <div class="menuname">
                        <h3>호랑이흥취</h3>
                        <p class="like">
                            <span class="material-symbols-outlined">favorite</span>
                            <span class="like__num">432</span>
                        </p>
                    </div>
                    <p class="nickname">mowinjji</p>
                </div>
                <div class="img__box">
                    <img src="../../../static/image/recipe/용용선생.jpg" alt="용용선생">
                    <div class="menuname">
                        <h3>용용선생</h3>
                        <p class="like">
                            <span class="material-symbols-outlined">favorite</span>
                            <span class="like__num">432</span>
                        </p>
                    </div>
                    <p class="nickname">mowinjji</p>
                </div>
                <div class="img__box">
                    <img src="../../../static/image/recipe/또래끼리.jpg" alt="또래끼리">
                    <div class="menuname">
                        <h3>또래끼리</h3>
                        <p class="like">
                            <span class="material-symbols-outlined">favorite</span>
                            <span class="like__num">432</span>
                        </p>
                    </div>
                    <p class="nickname">mowinjji</p>
                </div>
            </div>
        </div>
    </div>
    <!-- e::recommend -->

    <th:block th:replace="layouts/footer :: footerFragment"></th:block>
</body>
</html>