<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RECIPE</title>
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <header id="header">
        <div class="logo">RECIPE</div>
        <search>
            <form action="./search/">
                <label for="search">Find a Recipe</label>
                <input type="search" id="search" name="search" />
                <button type="submit"><span class="material-symbols-outlined">search</span></button>
            </form>
        </search>
        <nav class="util">
            <div class="login">로그인</div>
            <div class="signup">회원가입</div>
        </nav>
    </header>
    <div class="container">
        <div class="category">

        </div>
        <div class=""></div>
    </div>
    <footer id="footer"></footer>
</body>
</html>